* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notavailable-page {
    font-family: 'Segoe UI';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}

.coming-soon-container {
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    padding: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 740px;
}

h1 {
    font-size: 1.8rem;
    color: white;
}

p {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}